*{
    padding: 0;
    margin: 0;
}
body
{
    /* overflow: hidden; */
}
#canvas
{
    border: 2px solid black;
}

#sidebar
{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    backdrop-filter:blur(2px);
    box-shadow: 1px 1px 10px ;
    overflow: scroll;
}

#main-container
{
    display: flex;
    flex-direction: column;
}

#main-container > * 
{
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;

}

#main-container > label
{
    font-size:1.5rem ;
}

#graphedFunctions
{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#graphedFunctions > *
{
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}